
<html>
<head>
    <title>Angular JS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="js/angular.js"></script>
</head>
<body ng-app="MyApp">



<div ng-controller="Ctrl1">
    <input type="text" ng-model="search">
    Trier par :
    <select ng-model="tri">
        <option value="name">Nom</option>
        <option value="age">Age</option>
    </select>
    <div>

        <utilisateur ng-repeat="user in users | filter:search | orderBy:tri"></utilisateur>

    </div>

</div>




<script>

    var app = angular.module("MyApp", []);

    app.controller("Ctrl1", function($scope){

        $scope.users = [{name:"James", age:52, salaire:169054600},
            {name:"Wendy", age:34, salaire:29456000},
            {name:"John", age:23, salaire:2256000},
            {name:"Fanny", age:45, salaire:120000},
            {name:"Chris", age:34, salaire:45045600},
            {name:"Tom", age:24, salaire:50004560}];

    });

    app.directive("utilisateur", function(){

        var str = '<div style="display:inline-block;padding:10px;border:solid 1px;background-color:black;color:white;border-radius:10px">';
        str += '{{user.name}} : {{user.salaire | salaire}}';
        str += '</div>';

        return {
            restrict : 'E',
            replace:true,
            template : str
        };
    });

    app.filter("salaire", function(){
        return function(input){

            /*var milliers = Math.round(input / 1000);

            var str = "";

            if (milliers > 0)
                str += milliers + " ";

            var lereste = input - (milliers * 1000);

            lereste = lereste + "";
            while (lereste.length < 3)
                lereste = "0" + lereste;

            str += lereste + " €";

            return str;*/

            return input.toLocaleString() + ' €';

        };
    })

</script>

</body>
</html>